<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
        @import url('https://fonts.googleapis.com/css?family=Acme');
    </style>
    <title>Document</title>
    <link rel="stylesheet" href="/css/Success.css">
</head>

<body>
    <div id="bgi"></div>
    <div class="container">
        <h1>Your item has been successfully added to your restaurant  <span >;)</span></h1>
        <form action="/addItem" method="get"><button id="btn">Add another food</button></form>
        <form action="/food_items_manager" method="get"><button id="btn">Go to menu</button></form>
    </div>
    
    
</body>
</html>